:root {
  --concolr1: #031320;
  --textcolr: #AF708B;
  --bgcolor: #38205E;
  --concolr2: #EEE3D7;

}

body {
  background-color: var(--bgcolor);
  color: var(--textcolr);
  font-family: 'Press Start 2P', cursive;
  position: relative;
  display: grid;
  grid-template: 1fr/ 1fr;
  place-content: stretch;
  height: 100vh;
}


.playGround {
  background-color: var(--bgcolor);
  height: 100%;
  display: grid;
  grid-template: 1fr min-content/ 25rem 1fr;
}

.playGround>* {
  padding: 32px;
  margin: 32px;
}

.scoreBoard {
  background-color: var(--concolr1);
  border-radius: 25px;
  line-height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active-touch {
  background-color: var(--concolr1);
  border-radius: 25px;
  line-height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.active-touch:hover {
  box-shadow: 0 0 10px 5px var(--concolr2);
  color: var(--concolr2);
}

.tile-wrapper {
  border-radius: 25px;
  background-color: var(--concolr1);
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  place-items: center;
  place-content: center;
  gap: 3rem;
}

.tile {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 5px solid var(--concolr2);
}

.game-over-theme {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  color: #fff;
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.replay {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 300px;
  width: 300px;
  margin: -150px;
  border-radius: 50%;
  transition: transform .2s;
}

.replay:hover {
  transform: scale(1.2);
}

footer {
  background-color: var(--concolr1);
  margin: 5px 0 0 0 !important;
  grid-area: 2/1/-1/-1;
  padding: 5px !important;
}

footer>a {
  text-decoration: none;
  font-size: .8rem;
  color: var(--textcolr);
}

footer>a:hover {
  color: var(--concolr2);
}

@media(max-width: 1400px) {
  .playGround {
    grid-template: max-content 1fr 40px/ 1fr;
    height: 100vh;
  }

  footer {
    grid-area: 3/1/-1/-1;
  }
}